<!-- Card container div open -->
<div id="card-container">
  <div class="user-card">

    <h4>Senior Design Project: Sawfly Larvae inspired swarm robots</h4>
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
      <img class="gallery-cell" src="/assets/img/people-folder/eric_najera.png" alt="Image 1 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/kyle_kendra.png" alt="Image 2 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/joe_downie.png" alt="Image 3 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/yuki_nojima.png" alt="Image 4 description" />
    </div>
    <br>

    <button type="button" style="background-color: lightseagreen; border-color: lightseagreen;" class="btn btn-primary"
      data-bs-toggle="modal" data-bs-target="#myModal12">
      More Info
    </button>

  </div>
</div>
<!-- Card container div close -->

<!-- Use different ID names/numbers to determine the different kinds of modals -->
<!-- This will make it easier to copy/paste and mass produce them onto the page -->
<!-- Modal open -->
<div class="modal" id="myModal12">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Info Modal Title -->
      <div class="modal-header">
        <h4 class="modal-title">Description</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Info Modal body -->
      <div class="modal-body">

        <strong>Title:</strong>  Senior Design Project: Sawfly Larvae inspired swarm robots
        <br>
        <strong>Depicted (L to R):</strong>  Eric Najera, Kyle Kendra, Joe Downie, Yuki Nojima
        <br>
        <strong>Duration:</strong>  Aug 2021 - May 2022
        <br>

        <h4 class="modal-title">Links</h4>
        <hr>
        All ME Seniors
        <br>
        1) <a href="https://pab47.github.io/reports/Sawfly_report.pdf">Report</a>
        <br>
        2) <a href="https://pab47.github.io/reports/Sawfly_presentation.pdf">Presentation</a>
        <br>
        3) <a href="https://youtu.be/CzphgU75FCc">Video</a>
      </div>


      <!-- Close button -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- Modal close -->