<!-- Card container div open -->
<div id="card-container">
  <div class="user-card">

    <h4>Independent Project: T-maze for neural experiments on mice</h4>
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
      <img class="gallery-cell" src="/assets/img/people-folder/gerardo_ramos.png" alt="Image 1 description" />
    </div>
    <br>

    <button type="button" style="background-color: lightseagreen; border-color: lightseagreen;" class="btn btn-primary"
      data-bs-toggle="modal" data-bs-target="#myModal45">
      More Info
    </button>

  </div>
</div>
<!-- Card container div close -->

<!-- Use different ID names/numbers to determine the different kinds of modals -->
<!-- This will make it easier to copy/paste and mass produce them onto the page -->
<!-- Modal open -->
<div class="modal" id="myModal45">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Info Modal Title -->
      <div class="modal-header">
        <h4 class="modal-title">Description</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Info Modal body -->
      <div class="modal-body">

        <strong>Title:</strong>  Independent Project: T-maze for neural experiments on mice. (for Prof. 
        Alfonso Apicella, Dept of Biology, UTSA)
        <br>
        <strong>Depicted:</strong> Gerardo Ramos (ME Junior)
        <br>
        <strong>Duration:</strong>  Jan 2015 - May 2015
        <br>      
      </div>


      <!-- Close button -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- Modal close -->