<!-- Card container div open -->
<div id="card-container">
  <div class="user-card">

    <h4>Senior Design Project: Lil Bro: An inexpensive open-source quadrupedal 
      robot</h4>
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
      <img class="gallery-cell" src="/assets/img/people-folder/Steven_Farra.png" alt="Image 1 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/emiliano_rodriguez.png" alt="Image 2 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/Mario_Navarro.png" alt="Image 3 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/John_Carroll.png" alt="Image 4 description" />
    </div>
    <br>

    <button type="button" style="background-color: lightseagreen; border-color: lightseagreen;" class="btn btn-primary"
      data-bs-toggle="modal" data-bs-target="#myModal26">
      More Info
    </button>

  </div>
</div>
<!-- Card container div close -->

<!-- Use different ID names/numbers to determine the different kinds of modals -->
<!-- This will make it easier to copy/paste and mass produce them onto the page -->
<!-- Modal open -->
<div class="modal" id="myModal26">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Info Modal Title -->
      <div class="modal-header">
        <h4 class="modal-title">Description</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Info Modal body -->
      <div class="modal-body">

        <strong>Title:</strong>  Senior Design Project: Lil Bro: An inexpensive open-source quadrupedal 
        robot 
        <br>
        <strong>Depicted (L to R):</strong>  Steven Farra, Emiliano Rodriguez, Mario Navarro, and John Carroll
        <br>
        <strong>Duration:</strong>  Aug 2018 - May 2019
        <br>

        <h4 class="modal-title">Links</h4>
        <hr>
        All ME Seniors
        <br>
        1) <a href="https://pab47.github.io/reports/quadruped_robot.pdf">Project Report</a>
        <br>
        2) <a href="https://github.com/BroboticsInc31/LilBro">Construction details on GitHub</a>
        <br>
        3) <a href="https://www.youtube.com/watch?v=2qO0kL8-p4Y">Video</a>
        
      </div>


      <!-- Close button -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- Modal close -->