<!-- Card container div open -->
<div id="card-container">
  <div class="user-card">

    <h5>Summer internship: Visualization of UAV-UGV routes, Army Research Lab 
      project (UIC GPIP program)</h5>
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
      <img class="gallery-cell" src="/assets/img/people-folder/michael_hernandez.jpg" alt="Image 1 description" />
    </div>
    <br>

    <button type="button" style="background-color: lightseagreen; border-color: lightseagreen;" class="btn btn-primary"
      data-bs-toggle="modal" data-bs-target="#myModal18">
      More Info
    </button>

  </div>
</div>
<!-- Card container div close -->

<!-- Use different ID names/numbers to determine the different kinds of modals -->
<!-- This will make it easier to copy/paste and mass produce them onto the page -->
<!-- Modal open -->
<div class="modal" id="myModal18">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Info Modal Title -->
      <div class="modal-header">
        <h4 class="modal-title">Description</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Info Modal body -->
      <div class="modal-body">

        <strong>Title:</strong>  Summer internship: Visualization of UAV-UGV routes, Army Research Lab 
        project (UIC GPIP program)
        
        <br>
        <strong>Depicted:</strong>  Michael Hernandez (ME sophomore)
        <br>
        <strong>Duration:</strong>  June 2021 - Aug 2021
        <br>

        <h4 class="modal-title">Links</h4>
        <hr>
        <br>
        <a href="https://pab47.github.io/reports/uav_ugv_visualization.pdf">Project presentation</a>
        <br>
        
      </div>


      <!-- Close button -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- Modal close -->