<!-- Card container div open -->
<div id="card-container">
  <div class="user-card">

    <h3>Senior Design Project: Hopping Luxo Jr. Lamp</h3>
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
      <img class="gallery-cell" src="/assets/img/people-folder/Ahmed Al Khuridah.png" alt="Image 1 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/Danielle Lee.png" alt="Image 2 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/Gabriel Barba.png" alt="Image 3 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/Kali Giancana.png" alt="Image 4 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/Sebastian Kowal.png" alt="Image 5 description" />
    </div>
    <br>

    <button type="button" style="background-color: lightseagreen; border-color: lightseagreen;" class="btn btn-primary"
      data-bs-toggle="modal" data-bs-target="#myModal6">
      More Info
    </button>

  </div>
</div>
<!-- Card container div close -->

<!-- Use different ID names/numbers to determine the different kinds of modals -->
<!-- This will make it easier to copy/paste and mass produce them onto the page -->
<!-- Modal open -->
<div class="modal" id="myModal6">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Info Modal Title -->
      <div class="modal-header">
        <h4 class="modal-title">Description</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Info Modal body -->
      <div class="modal-body">

        <strong>Title:</strong>  Senior Design Project: Hopping Luxo Jr. Lamp
        <br>
        <strong>Depicted (L to R):</strong>  Ahmed Al Khuridah, Danielle Lee,
        Gabriel Barba, Kali Giancana,
        Sebastian Kowal
        <br>
        <strong>Duration:</strong>  Aug 2022 - May 2023
        <br>

        <h4 class="modal-title">Links</h4>
        <hr>
        All ME Seniors
        <br>
        1) <a href="https://pab47.github.io/reports/Luxo_Jr_Lamp.pdf">Report</a>
        <br>
        2) <a href="https://youtu.be/W1CabKbOciY">Video</a>
      </div>


      <!-- Close button -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- Modal close -->