<!-- Card container div open -->
<div id="card-container">
  <div class="user-card">

    <h4>Senior Design Project: Sky Transportation Attachment System</h4>
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
      <img class="gallery-cell" src="/assets/img/people-folder/Daniel_Jiwani_tn.jpg" alt="Image 1 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/Chad_Parker_tn.jpg" alt="Image 2 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/Cristian_Morales_tn.jpg" alt="Image 3 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/William_Hinojosa_tn.jpg" alt="Image 4 description" />
    </div>
    <br>

    <button type="button" style="background-color: lightseagreen; border-color: lightseagreen;" class="btn btn-primary"
      data-bs-toggle="modal" data-bs-target="#myModal27">
      More Info
    </button>

  </div>
</div>
<!-- Card container div close -->

<!-- Use different ID names/numbers to determine the different kinds of modals -->
<!-- This will make it easier to copy/paste and mass produce them onto the page -->
<!-- Modal open -->
<div class="modal" id="myModal27">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Info Modal Title -->
      <div class="modal-header">
        <h4 class="modal-title">Description</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Info Modal body -->
      <div class="modal-body">

        <strong>Title:</strong>  Senior Design Project: Sky Transportation Attachment System 
        <br>
        <strong>Depicted (L to R):</strong> Daniel Jiwani, Chad Parker, Cristian Morales, and William Hinojosa
        <br>
        <strong>Duration:</strong>  Jan 2018 - Dec 2018
        <br>

        <h4 class="modal-title">Links</h4>
        <hr>
        All ME Seniors
        <br>
        1) <a href="https://pab47.github.io/reports/Sky_Transportation.pdf">Project Report</a>
        <br>
        2) <a href="https://youtu.be/HDO0i35NzEw">Video</a>
        
      </div>


      <!-- Close button -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- Modal close -->