<!-- Card container div open -->
<div id="card-container">
  <div class="user-card">

    <h5>Senior Design Project: Computer vision-based obstacle avoidance system for a quadruped robot</h5>
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
      <img class="gallery-cell" src="/assets/img/people-folder/emily_hernandez.png" alt="Image 1 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/alex_domagala.png" alt="Image 2 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/pranay_singh.png" alt="Image 3 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/jon_perthel.png" alt="Image 4 description" />
    </div>
    <br>

    <button type="button" style="background-color: lightseagreen; border-color: lightseagreen;" class="btn btn-primary"
      data-bs-toggle="modal" data-bs-target="#myModal11">
      More Info
    </button>

  </div>
</div>
<!-- Card container div close -->

<!-- Use different ID names/numbers to determine the different kinds of modals -->
<!-- This will make it easier to copy/paste and mass produce them onto the page -->
<!-- Modal open -->
<div class="modal" id="myModal11">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Info Modal Title -->
      <div class="modal-header">
        <h4 class="modal-title">Description</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Info Modal body -->
      <div class="modal-body">

        <strong>Title:</strong> Senior Design Project: Computer vision-based obstacle avoidance system for a quadruped
        robot
        <br>
        <strong>Depicted (L to R):</strong>  Emily Hernandez, Alex Domagala,
        Pranay Singh, Jon Perthel
        <br>
        <strong>Duration:</strong> Aug 2021 - May 2022
        <br>

        <h4 class="modal-title">Links</h4>
        <hr>
        All ECE Seniors
        <br>
        1) <a href="https://pab47.github.io/reports/Quadruped_vision_report.pdf">Report</a>
        <br>
        2) <a href="https://pab47.github.io/reports/Quadruped_vision_presentation.pdf">Presentation</a>
        <br>
        3) <a href="https://youtu.be/Jp8ZNr-G5ag">Video</a>
        <br>
        4) <a href="https://github.com/jonathanperthel/PathVision">GitHub</a>
        
      </div>


      <!-- Close button -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- Modal close -->