<!-- Card container div open -->
<div id="card-container">
  <div class="user-card">

    <h3>Senior Design Project: Inchworm that can move straight and turn</h3>
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
      <img class="gallery-cell" src="/assets/img/people-folder/no-picture-available-2.jpg" alt="Image 1 description" />
    </div>
    <br>

    <button type="button" style="background-color: lightseagreen; border-color: lightseagreen;" class="btn btn-primary"
      data-bs-toggle="modal" data-bs-target="#myModal19">
      More Info
    </button>

  </div>
</div>
<!-- Card container div close -->

<!-- Use different ID names/numbers to determine the different kinds of modals -->
<!-- This will make it easier to copy/paste and mass produce them onto the page -->
<!-- Modal open -->
<div class="modal" id="myModal19">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Info Modal Title -->
      <div class="modal-header">
        <h4 class="modal-title">Description</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Info Modal body -->
      <div class="modal-body">

        <strong>Title:</strong>  Senior Design Project: Inchworm that can move straight and turn
        <br>
        <strong>Not depicted, credit to:</strong>  Alex Lewandowski, Daniel Kulach, Omer A. Durrani, Matt A. Halverson, and 
        Mikayla A. Sirovatka
        <br>
        <strong>Duration:</strong>  Aug 2020 - May 2021
        <br>

        <h4 class="modal-title">Links</h4>
        <hr>
        All ME Seniors
        <br>
        1) <a href="https://pab47.github.io/reports/Inchworm_report2.pdf">Project Report</a>
        <br>
        2) <a href="https://pab47.github.io/reports/Inchworm_presentation.pdf">Project Presentation</a>
        <br>
        3) <a href="https://pab47.github.io/reports/Inchworm_summary.pdf">Project Summary</a>
        <br>
        4) <a href="https://vimeo.com/532506169">Video</a>
        
      </div>


      <!-- Close button -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- Modal close -->