<!-- Card container div open -->
<div id="card-container">
  <div class="user-card">

    <h4>Summer internship: Cable Management System for Quadruped Robots (UIC GPIP program)</h4>
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
      <img class="gallery-cell" src="/assets/img/people-folder/Amer_Almhtachem.JPG" alt="Image 1 description" />
    </div>
    <br>

    <button type="button" style="background-color: lightseagreen; border-color: lightseagreen;" class="btn btn-primary"
      data-bs-toggle="modal" data-bs-target="#myModal5">
      More Info
    </button>

  </div>
</div>
<!-- Card container div close -->

<!-- Use different ID names/numbers to determine the different kinds of modals -->
<!-- This will make it easier to copy/paste and mass produce them onto the page -->
<!-- Modal open -->
<div class="modal" id="myModal5">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Info Modal Title -->
      <div class="modal-header">
        <h4 class="modal-title">Description</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Info Modal body -->
      <div class="modal-body">
        <strong>Title:</strong>  Summer internship: Cable Management System for Quadruped Robots (UIC GPIP
        program)
        <br>
        <strong>Depicted:</strong>  Amer Almhtachem (ME sophomore)
        <br>
        <strong>Duration:</strong>  June 2023 - Aug 2023
        <br>

        <h4 class="modal-title">Links</h4>
        <hr>
        <a href="https://pab47.github.io/reports/A1_cable_management_CAD.zip">Cable Management CAD files</a>
      </div>


      <!-- Close button -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- Modal close -->