<!-- Card container div open -->
<div id="card-container">
  <div class="user-card">

    <h5>Undergraduate research: April tag-based drone following (partly supported by NSF REU)</h5>
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
      <img class="gallery-cell" src="/assets/img/people-folder/aleena_albert.png" alt="Image 1 description" />
      
    </div>
    <br>

    <button type="button" style="background-color: lightseagreen; border-color: lightseagreen;" class="btn btn-primary"
      data-bs-toggle="modal" data-bs-target="#myModal8">
      More Info
    </button>

  </div>
</div>
<!-- Card container div close -->

<!-- Use different ID names/numbers to determine the different kinds of modals -->
<!-- This will make it easier to copy/paste and mass produce them onto the page -->
<!-- Modal open -->
<div class="modal" id="myModal8">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Info Modal Title -->
      <div class="modal-header">
        <h4 class="modal-title">Description</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Info Modal body -->
      <div class="modal-body">

        <strong>Title:</strong>  Undergraduate research: April tag-based drone following (partly supported
        by NSF REU)
        <br>
        <strong>Depicted:</strong>  Aleena Albert (ME senior)
        <br>
        <strong>Duration:</strong>  Aug 2022 - May 2022
        <br>


        <h4 class="modal-title">Links</h4>
        <hr>
        All ME Seniors
        <br>
        1) <a href="https://youtu.be/wJ9mwitagVo">YouTube Video</a>
        2) <a href="https://github.com/chnuggie/UICspring2023RoboticsLab">Code on GitHub</a>
      </div>


      <!-- Close button -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- Modal close -->