<!-- Card container div open -->
<div id="card-container">
  <div class="user-card">

    <h3>Senior Design Project: Rimless Wheeled Robot</h3>
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
      <img class="gallery-cell" src="/assets/img/people-folder/Rico_Jovanni_Ulep.jpg" alt="Image 1 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/Kyle_Seay.jpg" alt="Image 2 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/Ezra_Ameperosa.jpg" alt="Image 3 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/Scott_Miller.jpg" alt="Image 4 description" />
    </div>
    <br>

    <button type="button" style="background-color: lightseagreen; border-color: lightseagreen;" class="btn btn-primary"
      data-bs-toggle="modal" data-bs-target="#myModal42">
      More Info
    </button>

  </div>
</div>
<!-- Card container div close -->

<!-- Use different ID names/numbers to determine the different kinds of modals -->
<!-- This will make it easier to copy/paste and mass produce them onto the page -->
<!-- Modal open -->
<div class="modal" id="myModal42">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Info Modal Title -->
      <div class="modal-header">
        <h4 class="modal-title">Description</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Info Modal body -->
      <div class="modal-body">

        <strong>Title:</strong>  Senior Design Project: Design and Construction of Rimless Wheeled Robot
        <br>
        <strong>Depicted (L to R):</strong> Rico Jovanni Ulep, Kyle Seay, 
        Ezra Ameperosa, and Scott Miller
        <br>
        *3rd place among all ME Senior Design Projects for Spring 2015 semester 
        <br>
        <strong>Duration:</strong>  Aug 2014 - May 2015
        <br>

        <h4 class="modal-title">Links</h4>
        <hr>
        <br>
        1) <a href="https://pab47.github.io/reports/Roadrunner-Report.pdf">Project Report</a>
        <br>
        2) <a href="https://www.youtube.com/watch?v=xTSG48KMMR4">Video</a>
        
      </div>


      <!-- Close button -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- Modal close -->