<!-- Card container div open -->
<div id="card-container">
  <div class="user-card">

    <h4>Independent Project: Low Cost Security System for a UIC Lab Software Project</h4>
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
      <img class="gallery-cell" src="/assets/img/people-folder/anthony_dudlo.jpg" alt="Image 1 description" />
    </div>
    <br>

    <button type="button" style="background-color: lightseagreen; border-color: lightseagreen;" class="btn btn-primary"
      data-bs-toggle="modal" data-bs-target="#myModal22">
      More Info
    </button>

  </div>
</div>
<!-- Card container div close -->

<!-- Use different ID names/numbers to determine the different kinds of modals -->
<!-- This will make it easier to copy/paste and mass produce them onto the page -->
<!-- Modal open -->
<div class="modal" id="myModal22">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Info Modal Title -->
      <div class="modal-header">
        <h4 class="modal-title">Description</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Info Modal body -->
      <div class="modal-body">

        <strong>Title:</strong>  Independent Project: Low Cost Security System for a UIC lab using 
        motioneyeos open-source security software and raspberry pi single-board 
        computers
        <br>
        <strong>Depicted:</strong>  Anthony Dudlo (ME Senior)
        <br>
        <strong>Duration:</strong>  Jan 2020 - May 2020
        <br>

        <h4 class="modal-title">Links</h4>
        <hr>
        <br>
        <a href="https://pab47.github.io/reports/surveillance.pdf">Project Report</a>
        <br>
        
      </div>


      <!-- Close button -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- Modal close -->