<!-- Card container div open -->
<div id="card-container">
  <div class="user-card">

    <h3>Senior Design Project: Multi-link Robotic Manipulator</h3>
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
      <img class="gallery-cell" src="/assets/img/people-folder/Sergio_Molina.jpg" alt="Image 1 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/Paul_Alabi.jpg" alt="Image 2 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/Omar_Castro.jpg" alt="Image 3 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/Jonathan_Sacket.jpg" alt="Image 4 description" />
    </div>
    <br>

    <button type="button" style="background-color: lightseagreen; border-color: lightseagreen;" class="btn btn-primary"
      data-bs-toggle="modal" data-bs-target="#myModal35">
      More Info
    </button>

  </div>
</div>
<!-- Card container div close -->

<!-- Use different ID names/numbers to determine the different kinds of modals -->
<!-- This will make it easier to copy/paste and mass produce them onto the page -->
<!-- Modal open -->
<div class="modal" id="myModal35">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Info Modal Title -->
      <div class="modal-header">
        <h4 class="modal-title">Description</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Info Modal body -->
      <div class="modal-body">

        <strong>Title:</strong> Senior Design Project: Multi-link Robotic Manipulator 

        <br>
        <strong>Depicted (L to R):</strong> Sergio Molina, Paul Alabi, Omar Castro, and Jonathan Sacketl
        <br>
        <strong>Duration:</strong>  Jan 2016 - Dec 2016
        <br>

        <h4 class="modal-title">Links</h4>
        <hr>
        All ME Seniors
        <br>
        <a href="https://pab47.github.io/reports/Manipulator_robot.pdf">Project Report</a>
        <br>        
      </div>


      <!-- Close button -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- Modal close -->