<!-- Card container div open -->
<div id="card-container">
  <div class="user-card">

    <h3>Independent Study Project: Balancing a ball on a beam</h3>
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
      <img class="gallery-cell" src="/assets/img/people-folder/Andy_Plascencia.jpg" alt="Image 1 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/Tyler_Rowe.jpg" alt="Image 2 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/geoffrey_chiou.png" alt="Image 3 description" />
    </div>
    <br>

    <button type="button" style="background-color: lightseagreen; border-color: lightseagreen;" class="btn btn-primary"
      data-bs-toggle="modal" data-bs-target="#myModal38">
      More Info
    </button>

  </div>
</div>
<!-- Card container div close -->

<!-- Use different ID names/numbers to determine the different kinds of modals -->
<!-- This will make it easier to copy/paste and mass produce them onto the page -->
<!-- Modal open -->
<div class="modal" id="myModal38">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Info Modal Title -->
      <div class="modal-header">
        <h4 class="modal-title">Description</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Info Modal body -->
      <div class="modal-body">

        <strong>Title:</strong>  Independent Study Project: Balancing a ball on a beam 
        <br>
        <strong>Depicted (L to R):</strong> Andy Plascencia, Tyler Rowe, and Geoffrey Chiou
        <br>
        <strong>Duration:</strong>  Jan 2016 - May 2016
        <br>

        <h4 class="modal-title">Links</h4>
        <hr>
        ME Seniors
        <br>
        1) <a href="https://pab47.github.io/reports/Beam_Ball_Balancing.pdf">Project Report</a>
        <br>
        2) <a href="https://pab47.github.io/reports/ball_beam_STL.zip">Files for 3D Printing</a>
        <br>
        3) <a href="https://pab47.github.io/reports/ball_beam_code.zip">Arduino Code</a>
        
      </div>


      <!-- Close button -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- Modal close -->