<!-- Card container div open -->
<div id="card-container">
  <div class="user-card">

    <h4>Senior Design Project: An end-effector for a humanoid robot</h4>
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
      <img class="gallery-cell" src="/assets/img/people-folder/no-picture-available-2.jpg" alt="Image 1 description" />
    </div>
    <br>
    <br>

    <button type="button" style="background-color: lightseagreen; border-color: lightseagreen;" class="btn btn-primary"
      data-bs-toggle="modal" data-bs-target="#myModal2">
      More Info
    </button>

  </div>
</div>
<!-- Card container div close -->

<!-- Use different ID names/numbers to determine the different kinds of modals -->
<!-- This will make it easier to copy/paste and mass produce them onto the page -->
<!-- Modal open -->
<div class="modal" id="myModal2">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Info Modal Title -->
      <div class="modal-header">
        <h4 class="modal-title">Description</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Info Modal body -->
      <div class="modal-body">
        <strong>Title:</strong>  Senior Design Project: An end-effector for a humanoid robot
        <br>
        <strong>Not depicted, credit to:</strong>  Jeremy Ovalle, Andres Jimenez, Nick Casale, Matt Rothenbaum, Praveen Ghimire
        <br>
        <strong>Duration:</strong>  Aug 2023 - May 2024
        <br>

        <h4 class="modal-title">Links</h4>
        <hr>
        All ME Seniors
        <br>
        <a href="https://pab47.github.io/reports/End%20Effector%20for%20Robot.pdf">Report</a>
      </div>


      <!-- Close button -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- Modal close -->