
<!-- Card container div open -->
<div id="card-container">
  <div class="user-cahrd">

    <h3>Senior Design Project: Robot Arm Teleoperation</h3>
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
      <img class="gallery-cell" src="/assets/img/people-folder/Elena Esparza.jpg" alt="Image 2 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/Edward Gonzalez.jpg" alt="Image 2 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/Taiga Larkin.jpg" alt="Image 3 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/Sultan Muhammad.jpg" alt="Image 4 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/Paul Peretz.jpg" alt="Image 5 description" />
    </div>
    <br>

    <button type="button" style="background-color: lightseagreen; border-color: lightseagreen;" class="btn btn-primary"
      data-bs-toggle="modal" data-bs-target="#myModal">
      More Info
    </button>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal2">
      Links
    </button>
  </div>
</div>
<!-- Card container div close -->

<!-- Modal open -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Description</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        (Left to Right) Elena Esparza, Edward Gonzalez,
        Taiga Larkin, Sultan Muhammad,
        Paul Peretz, Aug 2023 - May 2024
        <hr>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- Modal close -->

<!-- Modal open -->
<div class="modal" id="myModal2">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Links</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        All ME Seniors

        <br>
        1) <a href="https://www.google.com/">Report</a>
        <br>
        2) <a href="https://www.google.com/">Poster</a>

        <hr>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- Modal close -->