<!-- Card container div open -->
<div id="card-container">
  <div class="user-card">

    <h2>Senior Design Project: SHUSHBot</h2>
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
      <img class="gallery-cell" src="/assets/img/people-folder/javier_gonzalez.jpg" alt="Image 1 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/roberto_mexquitic.jpg" alt="Image 2 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/stacy_alexander.jpg" alt="Image 3 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/thilo_janssen.jpg" alt="Image 4 description" />
    </div>
    <br>

    <button type="button" style="background-color: lightseagreen; border-color: lightseagreen;" class="btn btn-primary"
      data-bs-toggle="modal" data-bs-target="#myModal44">
      More Info
    </button>

  </div>
</div>
<!-- Card container div close -->

<!-- Use different ID names/numbers to determine the different kinds of modals -->
<!-- This will make it easier to copy/paste and mass produce them onto the page -->
<!-- Modal open -->
<div class="modal" id="myModal44">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Info Modal Title -->
      <div class="modal-header">
        <h4 class="modal-title">Description</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Info Modal body -->
      <div class="modal-body">

        <strong>Title:</strong>  Senior Design Project: Smart Humanoid Used for Silencing Humans (in the 
        library): SHUSHBot
        <br>
        <strong>Depicted (L to R):</strong>  Javier Gonzalez (McNair Scholar), 
        Roberto Mexquitic (McNair 
        Scholar), Stacy Alexander, and Thilo Janssen
        <br>
        <strong>Duration:</strong>  Aug 2014 - May 2015
        <br>

        <h4 class="modal-title">Links</h4>
        <hr>
        All EE Seniors
        <br>
        1) <a href="https://pab47.github.io/reports/SHUSHBot-Report.pdf">Project Report</a>
        <br>
        2) <a href="https://www.youtube.com/watch?v=Ju9SLrtdkLQ">Video</a>
        
      </div>


      <!-- Close button -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- Modal close -->