<!-- Card container div open -->
<div id="card-container">
  <div class="user-card">

    <h3>Independent Project: Vibration-based robots</h3>
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
      <img class="gallery-cell" src="/assets/img/people-folder/chris_von_brecht.png" alt="Image 1 description" />
    </div>
    <br>

    <button type="button" style="background-color: lightseagreen; border-color: lightseagreen;" class="btn btn-primary"
      data-bs-toggle="modal" data-bs-target="#myModal40">
      More Info
    </button>

  </div>
</div>
<!-- Card container div close -->

<!-- Use different ID names/numbers to determine the different kinds of modals -->
<!-- This will make it easier to copy/paste and mass produce them onto the page -->
<!-- Modal open -->
<div class="modal" id="myModal40">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Info Modal Title -->
      <div class="modal-header">
        <h4 class="modal-title">Description</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Info Modal body -->
      <div class="modal-body">

        <strong>Title:</strong>  Independent Project: Vibration-based robots for the Children's museum, San 
        Antonio
        <br>
        <strong>Depicted:</strong> Christopher von Brecht (ME Senior)
        <br>
        <strong>Duration:</strong>  Aug 2015 - Dec 2015
        <br>

        <h4 class="modal-title">Links</h4>
        <hr>
        <br>
        1) <a href="https://pab47.github.io/tutorials/Vibration-based-robots.pdf">Write-Up</a>
        <br>
        2) <a href="https://pab47.github.io/tutorials/VibrationRobots_STL.zip">Files for 3D Printing</a>
        <br>
        3) <a href="https://youtu.be/QoDUXx42l4c">Video</a>
        
      </div>


      <!-- Close button -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- Modal close -->