<!-- Card container div open -->
<div id="card-container">
  <div class="user-card">

    <h3>Senior Design Project: Inchworm Robot</h3>
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
      <img class="gallery-cell" src="/assets/img/people-folder/Anthony_Abundis.jpg" alt="Image 1 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/Michael_Aguirre.jpg" alt="Image 2 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/Justin_Castillo.jpg" alt="Image 3 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/Flavio_Moreira.jpg" alt="Image 4 description" />
    </div>
    <br>

    <button type="button" style="background-color: lightseagreen; border-color: lightseagreen;" class="btn btn-primary"
      data-bs-toggle="modal" data-bs-target="#myModal30">
      More Info
    </button>

  </div>
</div>
<!-- Card container div close -->

<!-- Use different ID names/numbers to determine the different kinds of modals -->
<!-- This will make it easier to copy/paste and mass produce them onto the page -->
<!-- Modal open -->
<div class="modal" id="myModal30">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Info Modal Title -->
      <div class="modal-header">
        <h4 class="modal-title">Description</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Info Modal body -->
      <div class="modal-body">

        <strong>Title:</strong>  Senior Design Project: Inchworm Robot
        <br>
        <strong>Depicted (L to R):</strong> Anthony Abundis, Michael Aguirre, Justin Castillo, and Flavio Moreira
        <br>
        <strong>Duration:</strong>  Jan 2017 - Dec 2017
        <br>

        <h4 class="modal-title">Links</h4>
        <hr>
        All ME Seniors
        <br>
        1) <a href="https://pab47.github.io/reports/Inchworm_report.pdf">Project Report</a>
        <br>
        2) <a href="https://www.youtube.com/watch?v=rlaOOx0Boos">Video</a>
        
      </div>


      <!-- Close button -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- Modal close -->