<!-- Card container div open -->
<div id="card-container">
  <div class="user-card">

    <h3>Independent Study Project: Animatronics Face -- RomoBot</h3>
    <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true }'>
      <img class="gallery-cell" src="/assets/img/people-folder/geoffrey_toombs.jpg" alt="Image 1 description" />
      <img class="gallery-cell" src="/assets/img/people-folder/james_schopfer.jpg" alt="Image 2 description" />
    </div>
    <br>

    <button type="button" style="background-color: lightseagreen; border-color: lightseagreen;" class="btn btn-primary"
      data-bs-toggle="modal" data-bs-target="#myModal39">
      More Info
    </button>

  </div>
</div>
<!-- Card container div close -->

<!-- Use different ID names/numbers to determine the different kinds of modals -->
<!-- This will make it easier to copy/paste and mass produce them onto the page -->
<!-- Modal open -->
<div class="modal" id="myModal39">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Info Modal Title -->
      <div class="modal-header">
        <h4 class="modal-title">Description</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Info Modal body -->
      <div class="modal-body">

        <strong>Title:</strong> Senior Design Project: Pneumatic shoes for jumping height augmentation
        <br>
        Entry to the Spring 2016, Center for Innovation, Technology, and
        Entrepreneurship (CITE)
        $100 K Business Competition at UTSA.
        Finalist in the Instructables Robotic Contest 2016 (only 19 finalists out
        of 222 entries) Link | Cached
        <br>
        <strong>Depicted:</strong> Geoffrey Toombs and James Schopfer (ME Seniors)
        <br>
        <strong>Duration:</strong> Jan 2016 - May 2016
        <br>

        <h4 class="modal-title">Links</h4>
        <hr>
        <br>
        1) <a href="https://pab47.github.io/reports/Animatronics_Face_Report.pdf">Project Report</a>
        <br>
        2) <a href="https://www.youtube.com/watch?v=xkze1_hnam0">Video</a>

      </div>


      <!-- Close button -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- Modal close -->