<!-- Navbar start -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"><img src="https://pab47.github.io/RAMlab-logo.png" width="89" height="50"
            alt="RAM Lab Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">Home<span class="sr-only"></span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="about.html" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    People
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="about.html">Faculty</a>
                    <a class="dropdown-item" href="lab-members.html">Current members</a>
                    <a class="dropdown-item" href="alumni-graduates.html">Graduate alumni</a>
                    <a class="dropdown-item" href="alumni-undergrads.html">Undergraduate/High school alumni</a>
                    <a class="dropdown-item" href="awards.html">Student Awards</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="research.html" id="navbarDropdownPub" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Publications
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="research.html#2024">2024</a>
                    <a class="dropdown-item" href="research.html#2023">2023</a>
                    <a class="dropdown-item" href="research.html#2022">2022</a>
                    <a class="dropdown-item" href="research.html#2021">2021</a>
                    <a class="dropdown-item" href="research.html#2020">2020</a>
                    <a class="dropdown-item" href="research.html#2019">2019</a>
                    <a class="dropdown-item" href="research.html#2018">2018</a>
                    <a class="dropdown-item" href="research.html#2017">2017</a>
                    <a class="dropdown-item" href="research.html#2016">2016</a>
                    <a class="dropdown-item" href="research.html#2015">2015</a>
                    <a class="dropdown-item" href="research.html#2014">2014</a>
                    <a class="dropdown-item" href="research.html#20082013">2008-2013</a>
                    <a class="dropdown-item" href="research.html#theses">Theses</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="funding.html">Funding</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="teaching.html" id="navbarDropdownTeach" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Teaching
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="teaching.html#courses">Courses</a>
                    <!-- This page would be linked to here under the teaching dropdown as an item -->
                    <a class="dropdown-item" href="index.html">Free Courses</a>
                    <a class="dropdown-item" href="teaching.html#tutorials">Tutorials</a>
                    <a class="dropdown-item" href="teaching.html#outreach">Outreach</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="multimedia.html" id="navbarDropdownMedia" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Multimedia
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="videos.html">Videos</a>
                    <a class="dropdown-item" href="multimedia.html#robots">Robots</a>
                    <a class="dropdown-item" href="multimedia.html#articles">Articles</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
            </li>
            <form class="form-inline my-2 my-lg-0">
            </form>
        </ul>
    </div>
</nav>
<!-- Navbar end -->
<br>
<br>
<br>